.channel-list-container {
    display: flex;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.channel-list-sidebar {
    width: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), $primary-color;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);

    .icon-container {
        width: 35px;
        height: 35px;
        margin: 16px auto;
        background: linear-gradient(150.64deg, rgba(0, 0, 0, 0.1) 12.73%, rgba(0, 0, 0, 0) 89.32%), #ffffff;
        border-radius: 9999px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
        &.logout {
            cursor: pointer;
        }

        .icon {
            height: 100%;
        }
    }
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    background: $primary-color;
    width: 240px;
}

.channel-list-header {
    padding-left: 16px;
    height: 62px;

    .text {
        font-size: 30px;
    line-height: 10px;
    color: #ffffff;
    font-family: astral_sisters;
    letter-spacing: 2.1px;
    }
}

.channel-list-toggle {
    display: none;
    height: 50px;
    width: 50px;
    background: $primary-color;
    position: absolute;
    right: -2%;
    top: 50%;
    border-radius: 50%;
    z-index: 2;
}

.channel-list-container-responsive {
    display: none;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 90%;
    top: 0%;
    z-index: 5;
    transition: 0.8s ease;
}

@media screen and (max-width: 960px) {
    .channel-list-container {
        display: none;
    }

    .team-channerl-header_menu-icon {
        display: flex;
    }

    .channel-list-container-responsive {
        display: flex;
    }

    .list-wrapper {
        width: 100%;
    }

    .channel-list-toggle {
        display: flex;
    }

    .channel-search__input__text {
        width: inherit;
    }

    .channel-preview__item.multi {
        width: 80%;
    }

    .channel-search__results {
        top: 100%;
        left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .channel-list-toggle {
        right: -3%;
    }
}

@media screen and (max-width: 400px) {
    .channel-preview__item.multi {
        width: 150px;
    }

    .channel-list-toggle {
        right: -5%;
    }
}

@media screen and (max-width: 320px) {
    .channel-list__sidebar {
        display: none;
    }
}
